PUBLIC_URL="http://localhost"
VITE_PUBLIC_URL="http://localhost"

# DATABASES VARIABLES ---------------------------

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB_NAME=inf_mgr_db

REDIS_DATABASE_URL="redis://inf_mgr_redis:6379/"
POSTGRES_DATABASE_URL=postgres://user:password@inf_mgr_postgres:5432/inf_mgr_db

QDRANT_DB_URL="http://inf_mgr_qdrant:6334"
EMBEDDINGS_MODEL_URL="http://host:port/v1/embeddings"

# AUTH JWT VARIABLES -----------------------------

ACCESS_JWT_SECRET="your_jwt_secret"
REFRESH_JWT_SECRET="your_refresh_jwt_secret"

GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"

GOOGLE_REDIRECT_URL="http://localhost/api/auth/callback"

# GOOGLE CALENDAR VARIABLES ----------------------

CALENDAR_ID="your_calendar_id"
GOOGLE_SERVICE_ACCOUNT_PATH="your/path/to/service-account.json"

# MAILER VARIABLES -------------------------------

SMTP_HOST="your_smtp_host"
SMTP_PORT="your_smtp_port"
SMTP_USERNAME="your_smtp_username"
SMTP_PASSWORD="your_smtp_password"
SECRETARY_EMAIL="your_secretary_email"

# CAREER VARIABLES ---------------------------------

CAREER_NAME="Your Career Name"
CAREER_MANAGER="Your Career Manager Name"

# TEST | SEED ONLY VARIABLES ----------------------

TEST_ADMIN_EMAIL="admin@domain.com"
TEST_STUDENT_EMAIL="student@domain.com"
TEST_TEACHER_EMAIL="teacher@domain.com"
TEST_SUPERVISOR_EMAIL="supervisor@domain.com"
TEST_SECRETARY_EMAIL="secretary@domain.com"

# DEVELOPMENT VARIABLES -----------------------------

RUST_LOG=info,warn,error

WIREGUARD_PRIVATE_KEY=""
WIREGUARD_PRESHARED_KEY=""
WIREGUARD_IP=""
WIREGUARD_PEER=""
WIREGUARD_ENDPOINT=""
KUBERNETES_ENDPOINT=""
