{% extends "base.html" %}

{% block title %}Solicitud de Inscripción de Práctica{% endblock %}

{% block recipient_name %}{{ supervisor_name }}{% endblock %}

{% block main_content %}
<p>
    Junto con saludar, desde la carrera de Ingeniería Civil en 
    Informática de la Universidad Católica de Temuco le informamos que el estudiante
    <strong>{{ student_name }}</strong> ha registrado la empresa <strong>{{ enterprise_name }}</strong> 
    para realizar su curso <strong>{{ course_name }}</strong>.
</p>

<p>
    Si la solicitud es correcta, por favor ingrese al siguiente enlace de confirmación. Aquí encontrará
    las instrucciones para continuar con la inscripción de la práctica:
</p>

<div class="info-box">
    <p>
        <a href="{{ public_url }}{{ approval_link }}" class="link">Inscripción de Práctica</a>
    </p>
</div>

<p>
    Al aprobar la práctica, recibirá un correo con los datos de la práctica y el estudiante, además de los 
    documentos oficiales del proceso.
</p>

<p>
    Si la información es incorrecta, por favor ingrese al siguiente enlace para rechazar la práctica:
</p>

<div class="info-box">
    <p>
        <a href="{{ public_url }}{{ rejection_link }}" class="link">Rechazar Práctica</a>
    </p>
</div>

<p>
    Ante cualquier duda, por favor contáctese con secretaría de la carrera: <strong>{{ secretary_email }}</strong>.
</p>
{% endblock %}

</html>