<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{ course_code }} - Inscripción de Curso</title>
</head>

<body>
    <h1>Estimado(a) {{ teacher_name }}</h1>

    <p>
        Junto con saludar, le informamos que ha sido registrado (a) como docente encargado del curso
        {{ course_code }} - {{ course_name }}.
    </p>

    <p>
        Si tiene alguna duda o necesita más información, por favor contáctese con la secretaría de la carrera: 
        <strong>{{ secretary_email }}</strong>.
    </p>

    <p>
        Se despide cordialmente,<br>
        Equipo de Prácticas y Tesis de la carrera de Ingeniería Civil en Informática
    </p>
</body>

</html>