<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{ course_code }} - Denegación de Solicitud de Práctica</title>
</head>

<body>
    <h1>Estimado(a) {{ student_name }}</h1>

    <p>
        Junto con saludar, le informamos que su solicitud de práctica en la 
        empresa {{ enterprise_name }} ha sido denegada.
    </p>

    <p>
        El supervisor, {{ supervisor_name }}, ha revisado la información ingresada 
        y ha decidido no aprobar la solicitud en esta oportunidad.
    </p>

    <p>
        Ante cualquier duda o para conocer más detalles sobre esta decisión, por favor contáctese con la secretaría de la carrera: 
        <strong>{{ secretary_email }}</strong>. O bien con el coordinador de prácticas:
        <strong>{{ coordinator_email }}</strong>.
    </p>

    <p>
        Se despide cordialmente,<br>
        Equipo de Prácticas y Tesis de la carrera de Ingeniería Civil en Informática
    </p>
</body>

</html>