{% extends "base.html" %}

{% block title %}Bienvenido a la Plataforma de Prácticas y Tesis{% endblock %}

{% block recipient_name %}{{ name }}{% endblock %}

{% block main_content %}
<p>
    Te damos la bienvenida a la plataforma de gestión de prácticas y tesis de la carrera 
    de Ingeniería Civil en Informática de la Universidad Católica de Temuco.
</p>

<p>
    Podrás ingresar a la plataforma en: 
    <a href="{{ public_url }}" class="link">{{ public_url }}</a> 
    con tu cuenta institucional.
</p>

<p>
    Si tienes alguna duda o problema con la plataforma, no dudes en acercarte a la oficina de
    la carrera o escribirnos a 
    <a href="mailto:practicasytesis@inf.uct.cl">practicasytesis@inf.uct.cl</a>.
</p>
{% endblock %}
