<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{ course_code }} - Confirmación de Denegación de Solicitud de Práctica</title>
</head>

<body>
    <h1>Estimado(a) {{ student_name }}</h1>

    <p>
        Junto con saludar, le informamos que la solicitud de inscripción de práctica 
        en la empresa {{ enterprise_name }} ha sido rechazada exitosamente.
        El supervisor, {{ supervisor_name }}, ha revisado y denegado la información ingresada.
    </p>

    <p>
        En la plataforma podrá encontrar los documentos e información relacionada.
    </p>

    <p>
        Se despide cordialmente,<br>
        Equipo de Prácticas y Tesis de la carrera de Ingeniería Civil en Informática
    </p>
</body>

</html>