<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{ course_code }} - Confirmación de Práctica</title>
</head>

<body>
    <h1>Estimado(a)</h1>

    <p>
        Junto con saludar, le informamos que la solicitud de inscripción de práctica
        del estudiante {{ student_name }} (RUT: {{ student_rut }})
        en la empresa {{ enterprise_name }} ha sido confirmada exitosamente.
        El supervisor, {{ supervisor_name }}, email: {{ supervisor_email }}, 
        ha revisado y aprobado la información ingresada.
    </p>
    <p>
        Recordamos que debe enviar personalmente la carta oficial de aceptación junto con 
        el seguro escolar del estudiante al supervisor de la práctica en la empresa.
        En la plataforma podrá encontrar los documentos e información relacionada.
    </p>

    <p>
        Se despide cordialmente,<br>
        Equipo de Prácticas y Tesis de la carrera de Ingeniería Civil en Informática
    </p>
</body>

</html>