<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Documentos de práctica</title>
</head>

<body>
    <h1>Estimado(a) {{ supervisor_name }}</h1>

    <p>
        Junto con saludar, le informamos que la práctica del estudiante {{ student_name }} 
        en la empresa {{ enterprise_name }} ha sido confirmada exitosamente.
    </p>

    <p>
        A continuación encontrará un enlace para descargar los documentos necesarios:
    </p>

    <div>
        <p><strong>Autorización de Práctica:</strong></p>
        <a href="{{ public_url }}/api{{ practice_auth_doc_url }}">
            Documento de autorización de práctica (PDF)
        </a>
        <p>
            Este documento debe ser impreso, firmado, timbrado y posteriormente 
            enviado a través del formulario en el siguiente enlace:
        </p>
        <a href="{{ public_url }}{{ practice_auth_form_url }}">
            Formulario de envío de autorización de práctica
        </a>
    </div>

    <div>
        <p><strong>Evaluación del estudiante por la empresa:</strong></p>
        <a href="{{ public_url }}{{ practice_evaluation_form_url }}">Formulario y pauta de evaluación</a>
        <p>
            Este formulario debe ser completado por usted al finalizar la práctica.<br/>
            Tenga en cuenta que el formulario es válido por una sola vez, por lo tanto, al 
            enviar los resultados, el enlace expirará.
        </p>
    </div>

    <p>
        Ante cualquier duda, por favor contáctese con la secretaría de la carrera: <strong>{{ secretary_email }}</strong>.
    </p>

    <p>
        Se despide cordialmente,<br>
        Equipo de Prácticas y Tesis de la carrera de Ingeniería Civil en Informática
    </p>
</body>

</html>